@import '../../theme.scss';

:host ::ng-deep .page-header{
    /*background: url("./assets/images/background.jpeg") !important;*/
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: center !important;
    background-color: map-get($theme-colors, secondary) !important;
    .hero{
        height: 80vh;
    }
}

.card{
    .card-img{
        height: 300px;
        background-repeat: no-repeat;
        background-size: cover !important;
    }
}
.tech-icons{
    img{
        border-radius: 50%;
        height:50px;
        width: 50px;
        margin: 0 1rem;
    }
}

.gallary{
    img{
        margin: 10px;
        height: 300px;
        display: inline-block;
        max-width: 95%;
    }
}

.profile-intro{
    margin-top: 30px;
    letter-spacing: 15px;
    color: map-get($theme-colors, primary);
    h1{

    }
    .profile-detail{
        text-transform: uppercase;
    }
}
@media (min-width: 992px){
  .profile-intro{
    .name{
      h1{
        font-size: 3.5rem;
        display: inline-block;
      }
    }
  }
}